In [1]:
import nltk
import json
import pandas as pd
import datetime

In [2]:
t = "Can you please plan me a trip from tirupati to delhi on 18th january"

In [3]:
tokens = [i for i in t.split()]

In [4]:
tokens

['Can',
 'you',
 'please',
 'plan',
 'me',
 'a',
 'trip',
 'from',
 'tirupati',
 'to',
 'delhi',
 'on',
 '18th',
 'january']

In [5]:
nltk.pos_tag(tokens)

[('Can', 'MD'),
 ('you', 'PRP'),
 ('please', 'VB'),
 ('plan', 'VB'),
 ('me', 'PRP'),
 ('a', 'DT'),
 ('trip', 'NN'),
 ('from', 'IN'),
 ('tirupati', 'NN'),
 ('to', 'TO'),
 ('delhi', 'VB'),
 ('on', 'IN'),
 ('18th', 'CD'),
 ('january', 'NN')]

In [6]:
file0 = 'home/static/FINALFLIGHTTEST.json'
file1 = 'home/static/FINALTRAINTEST.json'
with open(file0) as flight_file:
    dict_flight = json.load(flight_file)
flight = pd.DataFrame.from_dict(dict_flight, orient='columns')
flight.reset_index(level=0, inplace = True)
with open(file1) as train_file:
    dict_train = json.load(train_file)
# converting json dataset from dictionary to dataframe
train = pd.DataFrame.from_dict(dict_train, orient='columns')
train.reset_index(level=0, inplace=True)

In [7]:
days = {
      "Monday": '1',
     "Tuesday": '2',
     "Wednesday": '3',
      "Thursday": '4',
       "Friday": '5',
      "Saturday": '6',
       "sunday": '7'
       }

In [8]:
train.head(5)

,index,1A,2A,3A,Arrival time,DAY,Dest Station Code,Dest station_name,Distance,SEQ,SL,Source Station,Source Station Name,Train Name,departure_time,train_number
0,0,580,650,970,12:30:00,136,MGS,MUGHAL SARAI,207,2,170,PNBE,PATNA,PNBE-BTI FTR,12:40:00,504
1,1,680,1060,1380,10:00:00,136,BTI,BATHINDA JN,1313,3,330,PNBE,PATNA,PNBE-BTI FTR,10:00:00,504
2,2,610,700,1050,18:10:00,1234567,MGS,MUGHAL SARAI,207,2,100,PNBE,PATNA,PNBE-PTA FTR,18:15:00,506
3,3,820,1150,1330,15:45:00,1234567,PTA,PATIALA,1161,3,300,PNBE,PATNA,PNBE-PTA FTR,15:45:00,506
4,4,370,860,990,16:20:00,67,MGS,MUGHAL SARAI,207,2,160,PNBE,PATNA,PNBE-ASR FTR,16:30:00,604

In [9]:
q = pd.DataFrame()
q = flight.loc[flight['LOCAL_AIRPORT'] == 'DELHI']
j = []
for i in range(0,q.shape[0]):
    if q.iloc[i,10] not in j:
        j.append(q.iloc[i,10])
j.sort()
len(j)

54

In [10]:
lp = train.loc[train['Source Station Name'] == 'DELHI']
lp
lp.loc[lp['Dest station_name'] == 'AHMEDABAD']

,index,1A,2A,3A,Arrival time,DAY,Dest Station Code,Dest station_name,Distance,SEQ,SL,Source Station,Source Station Name,Train Name,departure_time,train_number
3964,3964,610,820,940,7:40:00,23457,ADI,AHMEDABAD,933,20,270,DLI,DELHI,ASHRAM EXPRE,7:40:00,12916
4163,4163,640,890,1090,9:40:00,3,ADI,AHMEDABAD,934,10,250,NDLS,DELHI,ADI SJ RAJDH,9:40:00,12958

In [88]:
s = 'DELHI'
d = "TIRUPATI"
f = '20/09/2018'
day,mnth,year = list(map(int,f.split('/')))
mydate = datetime.date(year,mnth,day)  #year, month, day
t=mydate.strftime("%A")
date=days[t]
k = []
for i in range(0,train.shape[0]):
    b = []
    if train.iloc[i,12] == s.upper():
        if train.iloc[i,7] == d.upper():
            c = list(str(train.iloc[i,5]))
            if date in c:
                b.append(train.iloc[i,:])
                k.append(b)
g = []
for i in range(0,flight.shape[0]):
    b = []
    if flight.iloc[i,7] == s.upper():
        if flight.iloc[i,10] == d.upper():
            c = list(str(flight.iloc[i,6]))
            if date in c:
                b.append(flight.iloc[i,:])
                g.append(b)
report = pd.DataFrame()
report2 = pd.DataFrame()
for q in k:
    r = pd.DataFrame(q)
    report = pd.concat([report,r], axis = 0)
for q in g:
    f = pd.DataFrame(q)
    report2 = pd.concat([report2,f], axis = 0)
t = []
q = []
for i in range(0,len(report)):
    p = list(report.iloc[i,:])
    t.append(p)
    
for i in range(0,len(report2)):
    p = list(report2.iloc[i,:])
    q.append(p)

In [12]:
fsource = []
for i in range(0,flight.shape[0]):
    if flight.iloc[i,7] not in fsource:
        fsource.append(flight.iloc[i,7])
fdest = []
for i in range(0,flight.shape[0]):
    if flight.iloc[i,10] not in fdest:
        fdest.append(flight.iloc[i,10])
        
tdest = []
for i in range(0,train.shape[0]):
    if train.iloc[i,7] not in tdest:
        tdest.append(train.iloc[i,7])
tsource = []
for i in range(0,train.shape[0]):
    if train.iloc[i,12] not in tsource:
        tsource.append(train.iloc[i,12])

In [13]:
fdest = []
for i in range(0,flight.shape[0]):
    if flight.iloc[i,10] not in fdest:
        fdest.append(flight.iloc[i,10])

In [14]:
tdest = []
for i in range(0,train.shape[0]):
    if train.iloc[i,7] not in tdest:
        tdest.append(train.iloc[i,7])

In [15]:
tsource = []
for i in range(0,train.shape[0]):
    if train.iloc[i,12] not in tsource:
        tsource.append(train.iloc[i,12])

In [16]:
len(tsource)

14

In [17]:
len(tdest)

3076

In [18]:
len(fsource)

87

In [19]:
len(fdest)

87

In [20]:
fr = flight.shape[0]
tr = train.shape[0]

In [21]:
train.head(2)

,index,1A,2A,3A,Arrival time,DAY,Dest Station Code,Dest station_name,Distance,SEQ,SL,Source Station,Source Station Name,Train Name,departure_time,train_number
0,0,580,650,970,12:30:00,136,MGS,MUGHAL SARAI,207,2,170,PNBE,PATNA,PNBE-BTI FTR,12:40:00,504
1,1,680,1060,1380,10:00:00,136,BTI,BATHINDA JN,1313,3,330,PNBE,PATNA,PNBE-BTI FTR,10:00:00,504

In [22]:
        #pre process connecting trains
        lev1 = []
        for i in range(0,tr):
            if train.iloc[i,12] == s.upper():
                if train.iloc[i,7] in tsource and train.iloc[i,7] != s.upper():
                    c = list(str(train.iloc[i,5]))
                    if date in c:
                        dist = train.iloc[i,8]
                        if dist < 50:
                            time = 1
                        else:
                            time = int(dist/50)
                        print("time = ", time)
                        hr,_,_ = list(map(int,train.iloc[i,14].split(':')))
                        rtime = time + hr
                        if rtime > 23:
                            label = int(rtime/24) * 1000 
                            print("label = ", label)
                        else:
                            label = rtime
                            print("label = ", label)
                        d2 = train.iloc[i,7]
                        tnum = train.iloc[i,15]
                        l = (d2,label,tnum,i)
                        lev1.append(l)

time =  38
label =  2000
time =  19
label =  20
time =  19
label =  23
time =  19
label =  1000
time =  19
label =  1000
time =  19
label =  1000
time =  19
label =  1000
time =  37
label =  2000
time =  37
label =  2000
time =  38
label =  1000
time =  15
label =  1000
time =  15
label =  1000
time =  42
label =  2000
time =  43
label =  2000
time =  15
label =  23
time =  18
label =  1000
time =  20
label =  1000
time =  20
label =  1000
time =  20
label =  1000
time =  19
label =  1000
time =  40
label =  2000
time =  19
label =  19
time =  38
label =  1000
time =  15
label =  1000

In [23]:
lev1

[('GUWAHATI', 2000, 12236, 1584),
 ('PATNA', 20, 12274, 1622),
 ('PATNA', 23, 12306, 1677),
 ('PATNA', 1000, 12310, 1685),
 ('PATNA', 1000, 12350, 1781),
 ('PATNA', 1000, 12392, 1931),
 ('PATNA', 1000, 12402, 1981),
 ('GUWAHATI', 2000, 12424, 2023),
 ('GUWAHATI', 2000, 12436, 2061),
 ('GUWAHATI', 1000, 12502, 2229),
 ('ITARSI', 1000, 12622, 2690),
 ('ITARSI', 1000, 12626, 2722),
 ('TIRUPATI', 2000, 12626, 2733),
 ('CHITTOOR', 2000, 12626, 2734),
 ('ITARSI', 23, 12628, 2763),
 ('AHMEDABAD', 1000, 12916, 3964),
 ('PATNA', 1000, 13414, 4765),
 ('PATNA', 1000, 13484, 4873),
 ('PATNA', 1000, 14004, 4908),
 ('PATNA', 1000, 14056, 4998),
 ('GUWAHATI', 2000, 14056, 5029),
 ('PATNA', 19, 15484, 5523),
 ('GUWAHATI', 1000, 15602, 5597),
 ('ITARSI', 1000, 22404, 8765)]

In [24]:
        #connecting trains

        li = []
        for i in lev1:
            for j in range(0,tr):
                if train.iloc[j,12] == i[0].upper() and train.iloc[j,7] == d.upper():
                    hr,_,_ = list(map(int,train.iloc[j,14].split(':')))
                    if i[1] >= 1000:
                        day1 = i[1]/1000
                        newday = (int(date) + day1)%7
                        if newday == 0:
                            newday=7
                        c = list(str(train.iloc[j,5]))
                        if newday in c:
                            print("train 01\n\t",train.iloc[i[3],:])
                            print("train 02\n\t",train.iloc[j,:])
                    else:
                        time = i[1]
                        if hr > time:
                            print("train 01\n\t",train.iloc[i[3],:])
                            print("train 02\n\t",train.iloc[j,:])
                        else:
                            newday = (int(date) + 1)%7
                            if newday == 0:
                                newday=7
                            c = list(str(train.iloc[j,5]))
                            if newday in c:
                                print("train 01\n\t",train.iloc[i[3],:])
                                print("train 02\n\t",train.iloc[j,:])

train 01
	 index                         1622
1A                             590
2A                             670
3A                             970
Arrival time               0:50:00
DAY                        1234567
Dest Station Code             PNBE
Dest station_name            PATNA
Distance                       985
SEQ                              4
SL                             250
Source Station                NDLS
Source Station Name          DELHI
Train Name             HWH DURONTO
departure_time             1:00:00
train_number                 12274
Name: 1622, dtype: object
train 02
	 index                          8556
1A                              760
2A                              920
3A                             1480
Arrival time               22:20:00
DAY                               6
Dest Station Code               ADI
Dest station_name         AHMEDABAD
Distance                       1669
SEQ                              28
SL                              410
Source Station                 PNBE
Source Station Name           PATNA
Train Name             PNBE ADI EXP
departure_time             22:20:00
train_number                  19422
Name: 8556, dtype: object
train 01
	 index                          5523
1A                              340
2A                              880
3A                             1060
Arrival time                0:05:00
DAY                         1234567
Dest Station Code              PNBE
Dest station_name             PATNA
Distance                        979
SEQ                              29
SL                              290
Source Station                  DLI
Source Station Name           DELHI
Train Name             SIKKIM MAHAN
departure_time              0:30:00
train_number                  15484
Name: 5523, dtype: object
train 02
	 index                          8556
1A                              760
2A                              920
3A                             1480
Arrival time               22:20:00
DAY                               6
Dest Station Code               ADI
Dest station_name         AHMEDABAD
Distance                       1669
SEQ                              28
SL                              410
Source Station                 PNBE
Source Station Name           PATNA
Train Name             PNBE ADI EXP
departure_time             22:20:00
train_number                  19422
Name: 8556, dtype: object

In [92]:
len(lev2)

363

In [91]:
        #pre process connecting flights 02
        lev2 = []
        for i in range(0,fr):
            if flight.iloc[i,7] == s.upper():
                if flight.iloc[i,10] in fsource and train.iloc[i,10] != s.upper():
                    if flight.iloc[i,10] in lev3:
                        c = list(str(flight.iloc[i,6]))
                        if date in c:
                            dist = int(round(flight.iloc[i,13]/60))
                            hr = int(flight.iloc[i,9]/100)
                            rtime = dist + hr
                            if rtime > 23:
                                rtime = rtime%24
                                label = int(rtime) * 1000 
                            else:
                                label = rtime
                            d2 = flight.iloc[i,10]
                            fnum = flight.iloc[i,5]
                            l = (d2,label,fnum,i)
                            lev2.append(l)

In [89]:
#pre processing connecting flights1
lev3 = []
for i in range(0,fr):
    if flight.iloc[i,10] == d.upper():
        if flight.iloc[i,7] not in lev3:
            lev3.append(flight.iloc[i,7])

In [90]:
lev3

['BANGLORE', 'HYDERABAD', 'VIJAYAWADA']

In [93]:
        #STEP 3

        lev4 = []
        for i in lev3:
            count = 0
            for j in lev2:
                if i == j[0]:
                    lev4.append(j)
                    count = count + 1
                if count == 10:
                    break

In [95]:
len(lev4)

28

In [76]:
flight.head(1)

,index,AIRLINE_CODE,ARRIVAL_DEPARTURE_FLAG,Business,Economy,FLIGHT_NUMBER,FREQUENCY,LOCAL_AIRPORT,LOCAL_AIRPORT_CODE,SCHED_TIME,SOURCE_DESTINATION,SOURCE_DESTINATION_CODE,TIME_ZONE,air_time
0,0,AI,1,7750,2460,406,136,AGRA,AGR,1320,VARANASI,VNS,IST,194

In [96]:
        #connecting flights
        op = 0
        for i in lev4:
            for j in range(0,fr):
                if flight.iloc[j,7] == i[0].upper() and flight.iloc[j,10] == d.upper():
                    hr = int(flight.iloc[j,9]/100)
                    if i[1] >= 1000:
                        newdate = str(int(date) + 1)
                        c = list(str(flight.iloc[j,6]))
                        if newdate in c:
                            print("\n\n\t\tflight 01\n",flight.iloc[i[3],:])
                            print("\n\n\t\tflight 02\n",flight.iloc[j,:])
                            op = op +1
                            break
                    else:
                        time = i[1]
                        if hr > time:
                            print("\n\n\t\tflight 01\n",flight.iloc[i[3],:])
                            print("\n\n\t\tflight 02\n",flight.iloc[j,:])
                            op = op+1
                            break

		flight 01
 index                          5654
AIRLINE_CODE                     9W
ARRIVAL_DEPARTURE_FLAG            2
Business                       5800
Economy                        1670
FLIGHT_NUMBER                  2665
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      755
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         IXC
TIME_ZONE                       IST
air_time                         40
Name: 5654, dtype: object


		flight 02
 index                          1523
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            1
Business                       5400
Economy                        2850
FLIGHT_NUMBER                   297
FREQUENCY                         2
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                     1145
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         DEL
TIME_ZONE                       IST
air_time                        123
Name: 1523, dtype: object


		flight 01
 index                          5655
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            2
Business                       7280
Economy                        1300
FLIGHT_NUMBER                   859
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      825
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         MAA
TIME_ZONE                       IST
air_time                         40
Name: 5655, dtype: object


		flight 02
 index                          1523
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            1
Business                       5400
Economy                        2850
FLIGHT_NUMBER                   297
FREQUENCY                         2
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                     1145
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         DEL
TIME_ZONE                       IST
air_time                        123
Name: 1523, dtype: object


		flight 01
 index                          5658
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            2
Business                       5590
Economy                        1050
FLIGHT_NUMBER                   643
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      505
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         PNQ
TIME_ZONE                       IST
air_time                         40
Name: 5658, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object


		flight 01
 index                          5659
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            1
Business                       5060
Economy                        1420
FLIGHT_NUMBER                   289
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                       55
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         BLR
TIME_ZONE                       IST
air_time                         41
Name: 5659, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object


		flight 01
 index                          5660
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            1
Business                       6580
Economy                        2960
FLIGHT_NUMBER                  6698
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      420
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         PNQ
TIME_ZONE                       IST
air_time                         41
Name: 5660, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object


		flight 01
 index                          5662
AIRLINE_CODE                     UK
ARRIVAL_DEPARTURE_FLAG            1
Business                       7730
Economy                        2140
FLIGHT_NUMBER                   836
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                     2300
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         BLR
TIME_ZONE                       IST
air_time                         42
Name: 5662, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object


		flight 01
 index                          5663
AIRLINE_CODE                     6E
ARRIVAL_DEPARTURE_FLAG            1
Business                       5030
Economy                        2220
FLIGHT_NUMBER                  6489
FREQUENCY                    123457
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      130
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         BOM
TIME_ZONE                       IST
air_time                         42
Name: 5663, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object


		flight 01
 index                          5665
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7700
Economy                        2480
FLIGHT_NUMBER                   774
FREQUENCY                   1234567
LOCAL_AIRPORT                 DELHI
LOCAL_AIRPORT_CODE              DEL
SCHED_TIME                      145
SOURCE_DESTINATION         BANGLORE
SOURCE_DESTINATION_CODE         GOI
TIME_ZONE                       IST
air_time                         42
Name: 5665, dtype: object


		flight 02
 index                          1522
AIRLINE_CODE                     I5
ARRIVAL_DEPARTURE_FLAG            1
Business                       7990
Economy                        2620
FLIGHT_NUMBER                  1452
FREQUENCY                    134567
LOCAL_AIRPORT              BANGLORE
LOCAL_AIRPORT_CODE              BLR
SCHED_TIME                      840
SOURCE_DESTINATION         TIRUPATI
SOURCE_DESTINATION_CODE         COK
TIME_ZONE                       IST
air_time                        123
Name: 1522, dtype: object

		flight 01
 index                           6302
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             1
Business                        7300
Economy                         1700
FLIGHT_NUMBER                   6726
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      2305
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          BLR
TIME_ZONE                        IST
air_time                         100
Name: 6302, dtype: object


		flight 02
 index                           9837
AIRLINE_CODE                      2T
ARRIVAL_DEPARTURE_FLAG             2
Business                        7060
Economy                         1440
FLIGHT_NUMBER                    403
FREQUENCY                    1234567
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1430
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          VGA
TIME_ZONE                        IST
air_time                         116
Name: 9837, dtype: object


		flight 01
 index                           6303
AIRLINE_CODE                      9W
ARRIVAL_DEPARTURE_FLAG             1
Business                        6590
Economy                         2040
FLIGHT_NUMBER                    333
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1010
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          BOM
TIME_ZONE                        IST
air_time                         100
Name: 6303, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                           6304
AIRLINE_CODE                      AI
ARRIVAL_DEPARTURE_FLAG             1
Business                        7920
Economy                         1680
FLIGHT_NUMBER                    806
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1015
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          BOM
TIME_ZONE                        IST
air_time                         100
Name: 6304, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                           6306
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             1
Business                        5260
Economy                         2840
FLIGHT_NUMBER                    474
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                       825
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          CCU
TIME_ZONE                        IST
air_time                         100
Name: 6306, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                           6307
AIRLINE_CODE                      9W
ARRIVAL_DEPARTURE_FLAG             1
Business                        5020
Economy                         1060
FLIGHT_NUMBER                    911
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1025
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          COK
TIME_ZONE                        IST
air_time                         100
Name: 6307, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                           6309
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             1
Business                        5880
Economy                         1740
FLIGHT_NUMBER                    336
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                        45
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          GOI
TIME_ZONE                        IST
air_time                         100
Name: 6309, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                           6310
AIRLINE_CODE                      I5
ARRIVAL_DEPARTURE_FLAG             1
Business                        7740
Economy                         2870
FLIGHT_NUMBER                    776
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1750
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          GOI
TIME_ZONE                        IST
air_time                         100
Name: 6310, dtype: object


		flight 02
 index                           9846
AIRLINE_CODE                      9W
ARRIVAL_DEPARTURE_FLAG             1
Business                        6700
Economy                         1580
FLIGHT_NUMBER                   2741
FREQUENCY                    1234567
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      2040
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          BLR
TIME_ZONE                        IST
air_time                         118
Name: 9846, dtype: object


		flight 01
 index                           6311
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             1
Business                        6220
Economy                         1070
FLIGHT_NUMBER                   6966
FREQUENCY                    1234567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1235
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          HYD
TIME_ZONE                        IST
air_time                         100
Name: 6311, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object

		flight 01
 index                           6312
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             1
Business                        7970
Economy                         1730
FLIGHT_NUMBER                    978
FREQUENCY                     134567
LOCAL_AIRPORT                  DELHI
LOCAL_AIRPORT_CODE               DEL
SCHED_TIME                      1535
SOURCE_DESTINATION         HYDERABAD
SOURCE_DESTINATION_CODE          HYD
TIME_ZONE                        IST
air_time                         100
Name: 6312, dtype: object


		flight 02
 index                           9836
AIRLINE_CODE                      6E
ARRIVAL_DEPARTURE_FLAG             2
Business                        5840
Economy                         1340
FLIGHT_NUMBER                    383
FREQUENCY                          1
LOCAL_AIRPORT              HYDERABAD
LOCAL_AIRPORT_CODE               HYD
SCHED_TIME                      1830
SOURCE_DESTINATION          TIRUPATI
SOURCE_DESTINATION_CODE          TRV
TIME_ZONE                        IST
air_time                         116
Name: 9836, dtype: object


		flight 01
 index                            7068
AIRLINE_CODE                       UK
ARRIVAL_DEPARTURE_FLAG              2
Business                         6090
Economy                          1740
FLIGHT_NUMBER                     725
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                       1355
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           IXB
TIME_ZONE                         IST
air_time                          124
Name: 7068, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object


		flight 01
 index                            7069
AIRLINE_CODE                       UK
ARRIVAL_DEPARTURE_FLAG              2
Business                         5070
Economy                          1440
FLIGHT_NUMBER                     725
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                        440
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           IXL
TIME_ZONE                         IST
air_time                          124
Name: 7069, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object


		flight 01
 index                            7070
AIRLINE_CODE                       6E
ARRIVAL_DEPARTURE_FLAG              2
Business                         7690
Economy                          1550
FLIGHT_NUMBER                    3612
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                        855
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           LKO
TIME_ZONE                         IST
air_time                          124
Name: 7070, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object


		flight 01
 index                            7072
AIRLINE_CODE                       9W
ARRIVAL_DEPARTURE_FLAG              2
Business                         5750
Economy                          1530
FLIGHT_NUMBER                     753
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                       1025
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           LKO
TIME_ZONE                         IST
air_time                          124
Name: 7072, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object


		flight 01
 index                            8665
AIRLINE_CODE                       6E
ARRIVAL_DEPARTURE_FLAG              1
Business                        12530
Economy                          5590
FLIGHT_NUMBER                     174
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                       1840
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           BOM
TIME_ZONE                         IST
air_time                          351
Name: 8665, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object


		flight 01
 index                            8668
AIRLINE_CODE                       6E
ARRIVAL_DEPARTURE_FLAG              2
Business                        11890
Economy                          5270
FLIGHT_NUMBER                     517
FREQUENCY                     1234567
LOCAL_AIRPORT                   DELHI
LOCAL_AIRPORT_CODE                DEL
SCHED_TIME                        640
SOURCE_DESTINATION         VIJAYAWADA
SOURCE_DESTINATION_CODE           AMD
TIME_ZONE                         IST
air_time                          351
Name: 8668, dtype: object


		flight 02
 index                           14526
AIRLINE_CODE                       SG
ARRIVAL_DEPARTURE_FLAG              2
Business                         7600
Economy                          2370
FLIGHT_NUMBER                    3598
FREQUENCY                      123457
LOCAL_AIRPORT              VIJAYAWADA
LOCAL_AIRPORT_CODE                VGA
SCHED_TIME                       1735
SOURCE_DESTINATION           TIRUPATI
SOURCE_DESTINATION_CODE           HYD
TIME_ZONE                         IST
air_time                          128
Name: 14526, dtype: object

In [ ]:
int(flight.iloc[0,9]/100)

In [ ]:
flight.head(1)

In [97]:
op

23

In [111]:
len(t)

0

In [112]:
days = {
    "Monday": '1',
    "Tuesday": '2',
    "Wednesday": '3',
    "Thursday": '4',
    "Friday": '5',
    "Saturday": '6',
    "sunday": '7'
}
treports=Post2.objects.all()
k = treports[len(treports)-1]
#our algorithm
s = k.source
d = k.dest
f = k.date
day,mnth,year = list(map(int,f.split('/')))
mydate = datetime.date(year,mnth,day)  #year, month, day
t=mydate.strftime("%A")
date=days[t]
file0 = 'home/static/FINALFLIGHTTEST.json'
file1 = 'home/static/FINALTRAINTEST.json'
with open(file0) as flight_file:
    dict_flight = json.load(flight_file)
flight = pd.DataFrame.from_dict(dict_flight, orient='columns')
flight.reset_index(level=0, inplace = True)
with open(file1) as train_file:
    dict_train = json.load(train_file)
# converting json dataset from dictionary to dataframe
train = pd.DataFrame.from_dict(dict_train, orient='columns')
train.reset_index(level=0, inplace=True)
k = []
for i in range(0,train.shape[0]):
    b = []
    if train.iloc[i,12] == s.upper():
        if train.iloc[i,7] == d.upper():
            c = list(str(train.iloc[i,5]))
            if date in c:
                b.append(train.iloc[i,:])
                k.append(b)
g = []

for i in range(0,flight.shape[0]):
    b = []
    if flight.iloc[i,7] == s.upper():
        if flight.iloc[i,10] == d.upper():
            c = list(str(flight.iloc[i,6]))
            if date in c:

                b.append(flight.iloc[i,:])
                g.append(b)
report = pd.DataFrame()
report2 = pd.DataFrame()
for q in k:
    r = pd.DataFrame(q)
    report = pd.concat([report,r], axis = 0)
for q in g:
    f = pd.DataFrame(q)
    report2 = pd.concat([report2,f], axis = 0)
t = []
q = []
flightcon = []
traincon = []
for i in range(0,len(report)):
    p = list(report.iloc[i,:])
    t.append(p)

for i in range(0,len(report2)):
    p = list(report2.iloc[i,:])
    q.append(p)

if len(q) == 0:
    f = 1
if len(t) == 0:
    h = 1

fr = flight.shape[0]
tr = train.shape[0]

fsource = []
for i in range(0,flight.shape[0]):
    if flight.iloc[i,7] not in fsource:
        fsource.append(flight.iloc[i,7])
fdest = []
for i in range(0,flight.shape[0]):
    if flight.iloc[i,10] not in fdest:
        fdest.append(flight.iloc[i,10])
        
tdest = []
for i in range(0,train.shape[0]):
    if train.iloc[i,7] not in tdest:
        tdest.append(train.iloc[i,7])
tsource = []
for i in range(0,train.shape[0]):
    if train.iloc[i,12] not in tsource:
        tsource.append(train.iloc[i,12])


if f == 1:

    #pre processing connecting flights1
    lev3 = []
    for i in range(0,fr):
        if flight.iloc[i,10] == d.upper():
            if flight.iloc[i,7] not in lev3:
                lev3.append(flight.iloc[i,7])
    #pre process connecting flights 02
    lev2 = []
    for i in range(0,fr):
        if flight.iloc[i,7] == s.upper():
            if flight.iloc[i,10] in fsource and train.iloc[i,10] != s.upper():
                if flight.iloc[i,10] in lev3:
                    c = list(str(flight.iloc[i,6]))
                    if date in c:
                        dist = int(round(flight.iloc[i,13]/60))
                        hr = int(flight.iloc[i,9]/100)
                        rtime = dist + hr
                        if rtime > 23:
                            rtime = rtime%24
                            label = int(rtime) * 1000 
                        else:
                            label = rtime
                        d2 = flight.iloc[i,10]
                        fnum = flight.iloc[i,5]
                        l = (d2,label,fnum,i)
                        lev2.append(l)
    #STEP 3

    lev4 = []
    for i in lev3:
        count = 0
        for j in lev2:
            if i == j[0]:
                lev4.append(j)
                count = count + 1
            if count == 10:
                break

    #connecting flights
    op = 0
    for i in lev4:
        for j in range(0,fr):
            if flight.iloc[j,7] == i[0].upper() and flight.iloc[j,10] == d.upper():
                hr = int(flight.iloc[j,9]/100)
                if i[1] >= 1000:
                    newdate = str(int(date) + 1)
                    c = list(str(flight.iloc[j,6]))
                    if newdate in c:
                        print("\n\n\t\tflight 01\n",flight.iloc[i[3],:])
                        print("\n\n\t\tflight 02\n",flight.iloc[j,:])
                        op = op +1
                        break
                else:
                    time = i[1]
                    if hr > time:
                        print("\n\n\t\tflight 01\n",flight.iloc[i[3],:])
                        print("\n\n\t\tflight 02\n",flight.iloc[j,:])
                        op = op+1
                        break                                    
return render(request,"home/result.html",{"t":t, "q":q})

NameError: name 'Post2' is not defined

In [113]:
b = []
b.append(flight.iloc[j,:])
b.append(flight.iloc[j,:])
k = []
k.append(b)

In [114]:
k

[[index                              14796
  AIRLINE_CODE                          I5
  ARRIVAL_DEPARTURE_FLAG                 1
  Business                           12130
  Economy                             6210
  FLIGHT_NUMBER                       1458
  FREQUENCY                         134567
  LOCAL_AIRPORT              VISAKHAPATNAM
  LOCAL_AIRPORT_CODE                   VTZ
  SCHED_TIME                          2030
  SOURCE_DESTINATION            VIJAYAWADA
  SOURCE_DESTINATION_CODE              BLR
  TIME_ZONE                            IST
  air_time                             313
  Name: 14796, dtype: object, index                              14796
  AIRLINE_CODE                          I5
  ARRIVAL_DEPARTURE_FLAG                 1
  Business                           12130
  Economy                             6210
  FLIGHT_NUMBER                       1458
  FREQUENCY                         134567
  LOCAL_AIRPORT              VISAKHAPATNAM
  LOCAL_AIRPORT_CODE                   VTZ
  SCHED_TIME                          2030
  SOURCE_DESTINATION            VIJAYAWADA
  SOURCE_DESTINATION_CODE              BLR
  TIME_ZONE                            IST
  air_time                             313
  Name: 14796, dtype: object]]